.chara_tip_frame {
    position: relative;
    width: 32px;
    height: 32px;
}
.chara_tip_frame .chara_tip_trim {
    position: absolute;
    clip: rect(0px, 32px, 32px, 0px);
}
.float_left {
    float: left;
}
.clear_both {
    clear: both;
}
